certifi==2022.9.14
charset-normalizer==2.1.1
Deprecated==1.2.13
gitdb==4.0.9
gitdb2==2.0.6
GitPython==3.0.5
idna==3.4
mypy==1.2.0
mypy-extensions==1.0.0
pathlib==1.0.1
pyaml==21.10.1
PyGithub==1.53
PyJWT==2.4.0
PyYAML==6.0
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
smmap==5.0.0
smmap2==2.0.5
typed-ast==1.5.4
typing-extensions==4.3.0
urllib3==1.26.12
wrapt==1.14.1